{% extends "admin/change_list.html" %}
{% load i18n admin_static %}

{% load users_tags %}
{% block object-tools-items %}
{{ block.super }}
<li>
    {% if request.user|has_group:"Admin"%}
        <a href="/export_taxref/" class="btn btn-high btn-success">Exporter pour Taxref</a>
        <a href="/choose_search_data_taxon/{% if request.GET %}?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}{% endif %}"
           class="btn btn-high btn-success">V.Fatercal: Exporter la recherche</a>
        <a href="/export_search_taxref/{% if request.GET %}?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}{% endif %}"
           class="btn btn-high btn-success">V.Taxref:Exporter la recherche</a>
        <a href="/export_for_import_sample/{% if request.GET %}?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}{% endif %}"
           class="btn btn-high btn-success">
            Exporter pour import de Prélèvements</a>
         <a href="/update_from_taxref/{% if request.GET %}?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}{% endif %}"
           class="btn btn-high btn-success">
            Mise à jour depuis Taxref</a>
         <a href="/insert_from_taxref/{% if request.GET %}?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}{% endif %}"
           class="btn btn-high btn-success">
            Nouveau taxon depuis Taxref</a>
    {% endif %}
        <a href="/advanced_search/" class="btn btn-high btn-success">Recherche Avancée</a>
</li>
{% endblock %}