{% extends 'admin/base_site.html' %}

{% load static %}
{% block title %}
        Mise à jour depuis Taxref | Fatercal
{% endblock %}
{% block branding %}
<style>
    input[type=checkbox] { display: block; }
</style>
    <div class="head">
        <h1 id="site-name">
            <a href="{% url 'admin:index' %}">Fatercal</a>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="breadcrumbs initialized">
        <a href="{% url 'admin:index' %}">Accueil</a>
        <span class="icon-arrow-right breadcrumbs-separator"></span> <a href="{% url 'admin:index' %}">Fatercal</a>
        <span class="icon-arrow-right breadcrumbs-separator"></span> <a href="{% url 'admin:fatercal_taxon_changelist' %}">Taxon</a>
        <span class="icon-arrow-right breadcrumbs-separator"></span> Mise à jour depuis Taxref
    </div><br>
    {% if empty == False %}
        <fieldset class="module aligned">
            <div>
                <h1>Choix Taxon mise à jour:</h1>
                <p> Nombre de taxon à mettre à jour: {{ nb_taxon }} </p>
                <form action="" method="post">
                    {% csrf_token %}
                    <table border="2">
                        {{ form.as_table }}
                    </table>
                    <br>
                    <input type="submit" value="Mettre a jour">
                </form><br>
            </div>
        </fieldset>
    {% else %}
        <fieldset class="module aligned">
            <h1>Aucune mise a jour depuis Taxref</h1>
        </fieldset>
    {% endif %}
{% endblock %}