{% extends 'admin/base_site.html' %}

{% load static %}
{% block title %}
    Recherche Avancée | Fatercal
{% endblock %}
{% block branding %}
<style>
    input[type=checkbox] { display: block; }
</style>
    <div class="head">
        <h1 id="site-name">
            <a href="/">Fatercal</a>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="breadcrumbs initialized">
        <a href="/">Accueil</a>
        <span class="icon-arrow-right breadcrumbs-separator"></span> <a href="/">Fatercal</a>
        <span class="icon-arrow-right breadcrumbs-separator"></span> <a href="/taxon/">Taxon</a>
        {% if goal == 'update' %}
            <span class="icon-arrow-right breadcrumbs-separator"></span> Mise à jour depuis Taxref
        {% else %}
            {% if goal == 'insert' %}
                <span class="icon-arrow-right breadcrumbs-separator"></span> Nouveau taxon depuis Taxref
            {% endif %}
        {% endif %}
    </div><br>
    <fieldset class="module aligned">
        <div>
            {% if goal == 'update' %}
                <h1>Choix du taxon mis à jour :</h1>
            {% else %}
                {% if goal == 'insert' %}
                    <h1>Choix du taxon à insérer :</h1>
                {% endif %}
            {% endif %}
        </div>
        <div>
            {% if goal == 'update' %}
                <h1> Les taxons ont été mis à jour</h1>
            {% else %}
                {% if goal == 'insert' %}
                    <h2> Les taxons ont été inséré.</h2>
                {% endif %}
            {% endif %}
            <a href='/taxon/'>Retour a la page de choix de taxon</a>
        </div>
    </fieldset>
{% endblock %}