{% extends 'admin/base_site.html' %}

{% load static %}

{% block branding %}
    <div class="head">
        <h1 id="site-name">
            <a href="{% url 'admin:index' %}">Fatercal</a>
        </h1>
    </div>
{% endblock %}
{% block content %}
    <fieldset class="module aligned ">
        <div class="form-row field-lb_nom">
            {{ message }}
            <br><br><strong><a href="{% url 'admin:fatercal_taxon_change' taxon_to_change.id %}">Retour a la page du taxon.</a></strong>
        </div>
    </fieldset>
{% endblock %}
