{% extends 'admin/base_site.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'fatercal/taxon/style.css' %}">
{% endblock %}

{% block title %}
    Recherche Avancée | Fatercal
{% endblock %}
{% block branding %}
    <div class="head">
        <h1 id="site-name">
            <a href="{% url 'admin:index' %}">Fatercal</a>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="breadcrumbs initialized">
        <a href="{% url 'admin:index' %}">Accueil</a>
        <span class="icon-arrow-right breadcrumbs-separator"></span> <a href="{% url 'admin:index' %}">Fatercal</a>
        <span class="icon-arrow-right breadcrumbs-separator"></span> Recherche Avancée
    </div><br>
    <fieldset class="module aligned ">
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Recherche!" />
            </form><br>
            {{ form.media }}
            <p>
                Cette page vous affichera, pour un taxon donné, ses enfants sous la forme d'un arbre hiérarchique
                complet. Si vous affichez les taxons liés à un auteur particulier, ne choissisez pas de taxon.
            </p>
        </div><br><br>
    </fieldset>
    <br>
    {% if count_es != -1 %}
        <ul class="object-tools initialized">
            <li>
                {% if taxon != null%}
                    <a href="{% url 'export_adv_search' %}?id={{taxon.id}}" class="btn btn-high btn-success">
                        Export pour import de prélèvements
                    </a>
                {% else %}
                    {% if count_es != 0 %}
                        <a href="{% url 'export_adv_search' %}?auteur={{auteur}}" class="btn btn-high btn-success">
                            Export pour import de prélèvements
                        </a>
                    {% endif %}
                {% endif %}
            </li>
        </ul>
        <fieldset class="module aligned ">
            <div class="form-row field-lb_nom">
                {% if taxon != null%}
                    <p>
                        Taxon Choisi : <a href='{% url 'admin:fatercal_taxon_change' taxon.id %}'>{{taxon}}</a>
                    </p>

                {%endif%}
                <p>
                    Nombre d'Espece Trouvée(s) : {{count_es}}
                </p>
                <p>
                    {{list_taxon|safe}}
                </p>
            </div>
        </fieldset>
    {% endif %}
{% endblock %}

