form .aligned ul {
    margin-left: 0px;
    /*margin-left: 0rem;*/
    padding-left: 10px;
    padding-left: 0.71429rem;
}
body {
  margin: 30px;
  font-family: sans-serif;
  }

a#delete_id_id_ref {
    display:none;
 }

a#delete_id_id_sup {
    display:none;
 }