{% extends 'admin/base_site.html' %}

{% load static %}
{% block title %}
    Recherche Avancée | Fatercal
{% endblock %}
{% block branding %}
    <div class="head">
        <h1 id="site-name">
            <a href="/">Fatercal</a>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="breadcrumbs initialized">
        <a href="/">Accueil</a>
        <span class="icon-arrow-right breadcrumbs-separator"></span> <a href="/fatercal/">Fatercal</a>
        <span class="icon-arrow-right breadcrumbs-separator"></span> Recherche Avancée
    </div><br>
    <fieldset class="module aligned ">
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Recherche!" />
            </form><br>
            {{ form.media }}
            <p>Cette page vous affichera, pour un taxon donné, ses enfants ainsi que leurs enfants sous la forme
                d'un arbre hiérarchique complet. Si vous afficher les taxons liées à un auteur particulier
                ne choissisez pas de taxon
            </p>
        </div><br><br>
    </fieldset>
    <br>
    {% if count_es != -1 %}
        <fieldset class="module aligned ">
            <div class="form-row field-lb_nom">
                {% if taxon != null%}
                    <p>
                        Taxon Choisi: <a href='/fatercal/taxon/{{taxon.id}}/'>{{taxon}}</a>
                    </p>
                {%endif%}
                <p>
                    Nombre d'Espece Trouvée(s) : {{count_es}}
                </p>
                <p>
                    {{list_taxon |safe }}
                </p>
            </div>
        </fieldset>
    {% endif %}
{% endblock %}

