form .aligned ul {
    margin-left: 0px;
    padding-left: 10px;
    padding-left: 0.71429rem;
}

body {
    margin: 30px;
    font-family: sans-serif;
}

a#delete_id_id_ref {
    display: none;
}

a#delete_id_id_sup {
    display: none;
}

ul.tree, ul.tree li {
    list-style-type: none;
    margin-left: 0;
}
.tree_label, .folder, .folder a {
    font-weight: bold;
    padding-right: 0!important;
}
.folder label {
    font-weight: normal;
    padding-right: 0!important;
}

.field-prelevements label {
    float: none;
}
.field-prelevements table {
    border-radius: 0;
}
.field-prelevements table thead {
    background-color: #ecf2f6;
    color: #7a889d;
}
.field-prelevements table thead tr td {
    font-weight: bold;
}